@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 /* Color Palette for DoctorX */

:root {
  /* Light mode */
  --color-primary: #ffffff;   /* clean white */
  --color-secondary: #0d9db8; /* medical teal */
  --color-third: #3b82f6;     /* trust blue */
  --color-fourth: #d1f4f9;    /* soft aqua background */
  --color-dark: #1a1a1a;      /* text dark gray */
}

/* Dark mode */
[data-theme="dark"] {
  --color-primary: #121212;   /* dark background */
  --color-secondary: #0d9db8; /* same teal for consistency */
  --color-third: #60a5fa;     /* lighter blue for dark mode */
  --color-fourth: #1f2937;    /* soft grayish background */
  --color-dark: #e5e7eb;      /* light gray text */
}


body, html, #root {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}




